body {
  margin: 0;
  padding: 0;
}

div.row {
  margin-right: 0px;
}

div.container-fluid {
  padding-right: 0px;
}

/* INICIO HEADER */

header {
  background-color: #325f5a;
  border-bottom: 2px solid #143732;
}

#logo_principal {
  background-image: url("../img/logo.png");
  background-size: 80% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 140px;
  float: left;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#cont {
  float: right;
  margin-top: 2%;
  margin-right: 25px;
}

#cont ul li {
  display: block;
  float: left;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}

#cont ul {
  list-style-type: none;
}

#cont ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

#cont ul li a:hover {
  display: block;
  text-decoration: none;
  color: #3b3a7f;
  transition: all 0.5s ease;
}

/* FIN  HEADER */

/*INICIO SECTION*/


#usuario{
    height: 400px;
    margin-top: 50px;
    margin-left: 40px;
    width: 500px;
    float: left;
    margin-bottom: 50px;
    padding-left: 0;
}

#boton{
    display: block;
    width: 180px;
    background: #143732;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #143732;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 155px;
    font-weight: bold;
}

#info{
    height: 100px;
    width: 500px;
    margin-top: 80px;
    margin-left: 50px;
    float: left;
}

#datos_estudiante{
    margin-top: 20px;
    color: #646464;
    font-weight: bold;
}

#datos_estudiante h4 {
    color: #96BEB9;
    font-weight: bold;
}

/*FIN SECTION*/

/* INICIO FOOTER */

footer {
  background-color: #325f5a;
  border-top: 2px solid #143732;
    margin-top: 15px;
	
}

#redes {
  float: right;
  height: 50px;
  margin-top: 5px;
  margin-right: 20px;
}

#redes ul li {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  list-style-type: none;
  text-align: center;
  margin-right: 5px;
  border-radius: 23px;
  border-top: 25%;
  padding-top: 7px;
}

#redes ul li:hover {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  border-radius: 23px;
  border: #3b5998;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
}

#logo1 {
  background-color: #3b5998;
}

#logo2 {
  background-color: #00acee;
}

#logo3 {
  background-color: #3f729b;
}

/*FIN FOOTER */

/* MEDIAQUERIES */

@media screen and (max-width:992px) {}

@media screen and (max-width:576px) {}

@media screen and (max-width:575px) {
  #logo_principal {
    margin-left: 40%;
  }
  #cont {
    margin-right: 20%;
  }
}

@media screen and (max-width:493px) {
  #logo_principal {
    margin-left: 30%;
  }
  #cont {
    margin-right: 15%;
  }
}

@media screen and (max-width:465px) {
  #logo_principal {
    margin-left: 30%;
  }
  #cont {
    margin-right: 7%;
  }
}

@media screen and (max-width:290px) {
  #logo_principal {
    margin-left: 20%;
    height: 70px;
    width: 120px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
